<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission. INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission. WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StepBuyStep" >
        <activity
            android:name=".ActivityCoach.CoachHistoryScreen.HistoryCoachActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTrainee.TraineeHistoryScreen.HistoryTraineeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.HistoryTraineeActivityActivity"
            android:exported="false"
            android:theme="@style/Theme.StepBuyStep" />

        <service
            android:name=".MyFcmService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.TrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <activity
            android:name=".ActivityTrainee.TraineeHomeScreen.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTrainee.TraineeStoreScreen.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTrainee.TraineeHomeScreen.TrackingActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCoach.CoachCreateScreen.CreateWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCommon.LeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCoach.CoachRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTrainee.TraineeHomeScreen.TraineeHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCoach.CoachHomeScreen.CoachHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCoach.CoachSettingsScreen.CoachSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTrainee.TraineeReg.EnterInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCommon.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCommon.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCoach.CoachHomeScreen.PendingRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCommon.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTrainee.TraineeReg.PendingApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTrainee.TraineeReg.ReEnterCoachIdActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCoach.CoachSettingsScreen.ManageTeamMembersActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCommon.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.StepBuyStep">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCoach.CoachCreateScreen.MapPickerActivity"
            android:exported="false" />

    </application>

</manifest>
